@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/media";


.play-reactions {
  @include app-screen();

  & > p {
    font-weight: bold;
  }

  .time {
    font-size: 40vmin;

    &.work {
      color: $red;
    }

    &.pause {
      color: $green;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;

    button {
      width: $button-long-width;
      margin: 0 0.25rem;

      &.green {
        @include button-color($green);
      }

      &.orange {
        @include button-color($orange);
      }
    }
  }
}
