$medium-device-width: 768px;
$large-device-width: 1024px;
$huge-device-width: 1440px;


@mixin medium-device {
  @media (min-width: #{$medium-device-width}) {
    @content;
  }
}

@mixin large-device {
  @media (min-width: #{$large-device-width}) {
    @content;
  }
}

@mixin huge-device {
  @media (min-width: #{$huge-device-width}) {
    @content;
  }
}
