@import "variables";
@import "theme";
@import "media";


@mixin app-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: calc(100% - #{$page-header-height});

  padding: 2rem $screen-side-padding-small-device;

  @include medium-device {
    padding: 2rem $screen-side-padding-medium-device;
  }

  @include large-device {
    padding: 2rem $screen-side-padding-large-device;
  }

  @include themed() {
    background-color: t($primary-color);
    color: t($primary-text);
  }
}

@mixin button-color($color) {
  .theme--light & {
    background: lighten($color, 15%);
    color: $black;

    &:disabled {
      background-color: $grey;
    }

    &:hover:not(:disabled) {
      background: $color;
      color: $white;
      transition: all 0.3s ease;
      font-weight: bold;
    }

    &:active:not(:disabled) {
      background: darken($color, 10%);
    }
  }

  .theme--dark & {
    background: $color;
    color: $black;

    &:disabled {
      background-color: $grey-dark;
    }

    &:hover:not(:disabled) {
      background: darken($color, 15%);
      color: $white;
      transition: all 0.3s ease;
      font-weight: bold;
    }

    &:active:not(:disabled) {
      background: darken($color, 25%);
    }
  }
}
