@import "variables";
@import "theme";
@import "media";


@mixin app-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 8rem;

  min-height: calc(100% - #{$page-header-height});

  @include themed() {
    background-color: t($primary-color);
    color: t($primary-text);
  }
}

@mixin app-screen-with-padding {
  @include app-screen();

  padding-left: $screen-side-padding-small-device;
  padding-right: $screen-side-padding-small-device;

  @include M-device {
    padding-left: $screen-side-padding-medium-device;
    padding-right: $screen-side-padding-medium-device;
  }

  @include L-device {
    padding-left: $screen-side-padding-large-device;
    padding-right: $screen-side-padding-large-device;
  }
}

@mixin set-up-screen {
  @include app-screen-with-padding();

  h1 {
    text-align: center;
  }

  .set-up-items {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0;
  }

  .set-up-item {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    &:not(:first-of-type) {
      @include themed {
        border-top: 1px solid t($secondary-color);
      }
    }

    @include M-device {
      flex-direction: row;
      justify-content: space-between;
    }

    label {
      text-align: center;
      font-weight: bold;
      margin-bottom: 0.5rem;

      @include M-device {
        margin-bottom: 0;
      }
    }

    .set-up-input {
      width: 16ch;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .confirm-btn {
      @include button-color($green);
      width: $button-middle-width;
    }

    .back-btn {
      @include button-color($orange);
      width: $button-middle-width;
    }

    button {
      margin: 0.5rem;
    }
  }
}

@mixin set-up-audio-div {
  .set-up-volume {
    display: flex;
    flex-direction: row;
    align-items: center;

    .set-up-volume-select {
      margin-right: 1rem;
    }

    .set-up-volume-input {
      width: 12ch;
    }

    .set-up-volume-mute {
      @include button-color($orange);
    }

    .set-up-volume-try {
      @include button-color($orange);
      @include center-content;
      height: 2rem;
      width: 4rem;
      margin-left: 0.5rem;
    }
  }
}

@mixin center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button-color($color) {
  .theme--light & {
    background: lighten($color, 15%);
    color: $black;

    &:disabled {
      background-color: $grey-light;
    }

    &:hover:not(:disabled) {
      background: $color;
      color: $white;
      transition: all 0.3s ease;
      font-weight: bold;
    }

    &:active:not(:disabled) {
      background: darken($color, 10%);
    }
  }

  .theme--dark & {
    background: $color;
    color: $black;

    &:disabled {
      background-color: $grey-dark;
    }

    &:hover:not(:disabled) {
      background: darken($color, 15%);
      color: $white;
      transition: all 0.3s ease;
      font-weight: bold;
    }

    &:active:not(:disabled) {
      background: darken($color, 25%);
    }
  }
}

@mixin with-scrollbar($color, $bg, $hover) {
  &::-webkit-scrollbar {
    background-color: $bg;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $hover;
  }

  &::-webkit-scrollbar-corner {
    background-color: $color;
  }
}
