$fontFamily: 'Open Sans', sans-serif;

// page layout
$page-header-height: 5rem;
$screen-side-padding-small-device: 10vw;
$screen-side-padding-medium-device: 20vw;
$screen-side-padding-large-device: 25vw;
$screen-content-width-small-device: calc(100vw - 2 * #{$screen-side-padding-small-device});
$screen-content-width-medium-device: calc(100vw - 2 * #{$screen-side-padding-medium-device});
$screen-content-width-large-device: calc(100vw - 2 * #{$screen-side-padding-large-device});

// colors
$white: #ffffff;
$grey-light: #a5a6a9;
$grey: #525256;
$grey-dark: #36393f;
$black: #000000;

$green: #17b317;
$green-dark: #159115;

// text sizes
$text-small: 0.75rem;
$text-middle: 1rem;
$text-large: 1.5rem;
