@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/media";


.set-up-group-stopwatch {
  @include set-up-screen();

  .group-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
