@use 'src/styles' as *;


.__fouls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  .foul-circle {
    display: inline-block;
    height: 0;
    padding-bottom: css-min(20%, 10vh);
    width: css-min(20%, 10vh);

    border-radius: 50%;
    border: 1px solid $black;
    margin: 2% 1%;

    cursor: pointer;
  }

  // nothing to press on a display for the hall, so it should not offer to be pressed
  &.__mirror .foul-circle {
    cursor: default;
  }

  &.red {
    .foul-circle.checked {
      background-color: $red;
    }
  }

  &.blue {
    .foul-circle.checked {
      background-color: $blue;
    }
  }
}
