@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/media";


$btn-margin: 2%;
$btn-size: 14%;

.__score {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-bottom: 5vmin;

  .__score__value {
    flex-grow: 1;
    font-size: 40vmin;
    margin: -8vmin 0;

    &.__mirror {
      font-size: 50vmin;
      margin: -10vmin -1vmin;
    }
  }

  &.__red {
    .__score__value {
      color: $red;
    }
  }

  &.__blue {
    .__score__value {
      color: $blue;
    }
  }

  .__score__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .__score__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include button-color($orange);

    height: 2rem;
    width: 2rem;
    padding: 0;
    margin: 0 0.25rem;

    font-weight: bold;

    @include M-device() {
      height: 3rem;
      width: 3rem;
      margin: 0 0.5rem;
    }
  }
}
