@import "src/styles/variables";
@import "src/styles/theme";
@import "src/styles/mixins";
@import "../../common/modal/mixins";

.save-advanced-series {
  @include modal-window();

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;

    @include themed() {
      background-color: t($primary-color);
    }

    .input-row, .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin: 1rem 0;
      width: 100%;
    }

    .input-row {
      justify-content: center;

      label {
        margin-right: 1rem;

        @include themed() {
          color: t($primary-text);
        }
      }
    }

    .buttons {
      justify-content: space-between;
    }

    .save-btn {
      @include modal-footer-btn();
      @include button-color($green);
    }

    .cancel-btn {
      @include modal-footer-btn();
      @include button-color($orange);
    }
  }
}
