@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/media";


.set-up-reactions {
  @include app-screen();

  h1 {
    text-align: center;
  }

  .set-up-items {
    width: 100%;
    margin-bottom: 2rem;
  }

  .set-up-item {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    &:not(:first-of-type) {
      @include themed {
        border-top: 1px solid t($secondary-color);
      }
    }

    @include medium-device {
      flex-direction: row;
      justify-content: space-between;
    }

    label {
      text-align: center;
      font-weight: bold;
      margin-bottom: 0.5rem;

      @include medium-device {
        margin-bottom: 0;
      }
    }

    .set-up-input {
      width: 16ch;
    }
  }

  .set-up-signal-count-cnt-btn {
    @include button-color($orange);
  }

  .set-up-volume {
    display: flex;
    flex-direction: row;
    align-items: center;

    .set-up-volume-select {
      margin-right: 1rem;
    }

    .set-up-volume-input {
      width: 12ch;
    }

    .set-up-volume-mute {
      @include button-color($orange);
    }

    .set-up-volume-try {
      @include button-color($orange);
      @include center-content;
      height: 2rem;
      width: 4rem;
      margin-left: 0.5rem;
    }
  }

  .set-up-confirm-btn {
    @include button-color($orange);
    width: $button-middle-width;
  }
}
