$fontFamily: 'Open Sans', sans-serif;

// page layout
$page-header-height: 70px;

// colors
$white: #ffffff;
$grey-light: #a5a6a9;
$grey: #525256;
$grey-dark: #36393f;
$black: #000000;

// text sizes
$text-small: 12px;
$text-middle: 16px;
$text-large: 24px;
