@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/media";


.play-reactions {
  @include app-screen();

  .signal-box {
    width: $screen-content-width-small-device;
    height: $screen-content-width-small-device;

    @include medium-device {
      width: $screen-content-width-medium-device;
      height: $screen-content-width-medium-device;
    }

    @include large-device {
      width: $screen-content-width-large-device;
      height: $screen-content-width-large-device;
    }

    margin-bottom: 2rem;

    border: 2px solid $black;
    border-radius: 50%;
    background-color: transparent;
  }
}
