@import "src/variables";
@import "src/mixins";

.play-reactions {
  @include app-screen();

  .signal-box {
    $diameter: 40vw;

    height: $diameter;
    width: $diameter;
    margin-bottom: 30px;

    border: 2px solid $black;
    border-radius: calc(#{$diameter} / 2);
    background-color: transparent;

    &.signal {
      background-color: red;
    }
  }
}
